---
import { Image } from 'astro:assets';
const coffeeCup = {
  src: '/coffee-cup.png',
  alt: 'Coffee Cup',
};
---

<section class="hero">
    <Image
        src={coffeeCup.src}
        alt={coffeeCup.alt}
        width={400}
        height={400}
        class="hero-image"
        loading="eager"
    />
    <h1 class="heading-title">Café Elegance</h1>
    <p class="heading-text">Sztuka kawy</p>
    <p class="heading-text">Chwila luksusu</p>

</section>


<style>
.hero {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hero-image {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 3em 0;
}
.heading-title {
    font-size: 3em;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 0.5em;
}
</style>