<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand:wght@400..700&display=swap" rel="stylesheet">
		<title>Cafe Elegance - Strona główna</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(60deg, #2b2820, #201d1c);
		color: #E2D6B6;
		font-family: 'Edu VIC WA NT Hand', cursive;
		overflow: hidden;
	}
</style>
